body{
background-color:lightblue;
text-align: center; 
}
h1{
	background-color: yellow;
	border:4px solid red;
	 text-align:center;
	font-size: 70px;
	color: red;
}
h2{
	background-color: white;
font-size: 30px;
color: blue;
}
h3{
	background-color: yellow;
	border: 2px dashed red;
	display: block;
font-size: 30px;
font-style: italic;
color: red;
}
p{
font-size: 20px;
}
tr {
  background-color: white;
   border:1px solid red;
  text-align:center;
  color:blue;
  
}
table,th,td{
border:2px solid blue;
}

a:link, a:visited{
	text-decoration: none;
	background-color: none;
	 border:1px solid red;
	 color:black;
	 display:table-row;
	 text-align:center;
	 margin: bottom:2px;

}
a:hover,a:active{
	background color: red;
	color: purple;

}
#name{
	color:purple;
	text-align: center;
}

