*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 100px 0 100px;
    background-color: rgb(176, 239, 241);
}
.main-page{
    background-color: rgb(241, 241, 247);
    margin: 0px 10px 0 10px;
    height: 100%;
}
.sentence{
    text-align: left;
    font-size: 20px;
     font-weight: 500; 
     margin-left: 40px;
      margin-right: 40px;
}
/* *************FIRST BLOCK STARTS HERE****************** */
.first-block{
    height: 260px;
    
    
}

h1{
    text-align: center;
    z-index: 1;
    width: 100%;
    background-color: blanchedalmond;
    font-size: 3em;
    color: blue;
    text-decoration: underline;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
span{
    font-weight: bold; 
    margin-left: 10px;
}

.picture{
    position: relative;
    float:right ; 
    right: 40px;
    height: 200px;
    width: 150px;
    padding: 2px;
    border:2px solid black;
}

.name{
   font-size: 2em;
   margin-left: 10px;
   margin-top: 20px;
}
.name-title{
   margin-left: 40px;
   margin-top: 20px;
}


/* *************FIRST BLOCK ENDS HERE****************** */




/*  *************** SOCIAL MEDIA STARS HERE******************   */
.second-block{
    position: relative;
    display: inline;
    text-align: center;
    margin-left: 40px;
    bottom: 40px;
    width: 250px;
}
    
.social{
    height: 50px;
    width: 50px;
    margin: 0 10px 0 10px;
}
a:link,a:visited{
    text-decoration: none;
    background-color:none;
    display: inline-block;
    text-align: center;
    margin-bottom: 2px;
    color:blue;

}
a:hover,a:active{
    border: 2px solid rgb(250, 149, 149);
    color: purple;
}


/*.second-block-names{
    position: relative;
    text-align: center;
    width: 250px;
}*/



/*  ***************SOCIAL MEDIA ENDS HERE******************   */



/* ***************TAGLINE STARS HERE*************************/


#tagline{
    background-color: gray;
    opacity: .4;
    height: 40px;
}
#heading {
    position: relative;
    text-align: left;
    margin-left: 40px;
    font-size: 1.5rem;
    font-weight: bold; 
    top:-33px;
}

/* ***************TAGLINE ENDS HERE*************************/



/* ***************TABLE QALIFICATION STARTS HERE*************************/
td{
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
}
th{
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
}
.table{
    position: relative;
    left:10px;
}

/* ***************TABLE QUALIFICATION ENDS HERE*************************/



/* ***************declaration ********************* */

.sign{
    position: relative;
    float: right;
}


i{
    color: rgb(26, 248, 163);

}


/*  ***************MEDIA QRERY STARTS HERE******************   */

@media(min-width:320px) and (max-width:480px)
{
body {
    margin: 0 ;
    text-align: center;
    display: block;
}
h1{
    display: block;
    width: 100%;
    visibility:visible;
    background-color: antiquewhite;
    font-size: 3rem;
    color: blue;
    text-decoration: underline;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* *************FIRST BLOCK MOBILE****************** */
.picture{
    margin: 0;
    position: relative;
    top: 10px;
    float: none;
    right:0;
    text-align: center;
    height: 200px;
    width: 150px;
    padding: 2px;
    border:2px solid black;
}
.name{
    margin: 0;
    display: block;
    text-align: center;
     }

.name-title{
        margin-top: 20px;
        margin-left: 0;

     }

 span{
        font-weight: bold; 
        margin: 0;
        
    }

 .first-block{
        height: 400px;
        background-color: rgb(241, 241, 247);
        
    }
 /* *************FIRST BLOCK MOBILE****************** */



/* *************SECOND BLOCK MOBILE****************** */
.second-block{
    top: 25px;
    margin-left: 25px;
    margin-bottom: 40px;
    bottom: 0px;
    display: block;
    width: 250px;
    
}
    

.social{
    height: 50px;
    width: 50px;
    margin: 0 0 5px 0;
}

.second-block a:link,a:visited{
    text-decoration: none;
    background-color:red;
    border: 2px solid black;
    padding: 5px;
    width: 300px;
    display: block;
    text-align: center;
    margin: 0 0 2 0;
    color:blue;

}
a:hover,a:active{
    border: 2px solid rgb(250, 149, 149);
    color: purple;
}

/* ************SECOND BLOCK MOBILE****************** */

#tagline{
    background-color: gray;
    opacity: .4;
    height: 40px;
}
#heading {
    position: relative;
    text-align: center;
    margin-left: 0px;
    font-size: 1.5rem;
    font-weight: bold; 
    top:-33px;
}


/*  ***************MEDIA QRY STRATS HERE******************   */


}