*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 100px 0 100px;
    background-color: rgb(176, 239, 241);
}
.main-page{
    background-color: rgb(241, 241, 247);
    margin: 0px 10px 0 10px;
    height: 100%;
}
.sentence{
    text-align: left;
    font-size: 20px;
     font-weight: 500; 
     margin-left: 40px;
      margin-right: 40px;
}
.sentence1{
  margin-left:-10px; 
  text-align: left;
  
}
/* *************FIRST BLOCK STARTS HERE****************** */
.first-block{
    height: 260px;
    
    
}

h1{
    text-align: center;
    z-index: 1;
    width: 100%;
    background-color: blanchedalmond;
    font-size: 3em;
    color: blue;
    text-decoration: underline;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
span{
    font-weight: bold; 
    margin-left: 10px;
}

.picture{
    position: relative;
    float:right ; 
    right: 40px;
    height: 200px;
    width: 150px;
    padding: 2px;
    border:2px solid black;
}

.name{
   font-size: 2em;
   margin-left: 10px;
   margin-top: 20px;
}
.name-title{
   margin-left: 40px;
   margin-top: 20px;
}


/* *************FIRST BLOCK ENDS HERE****************** */




/*  *************** SOCIAL MEDIA STARS HERE******************   */
.second-block{
    position: relative;
    display: inline;
    text-align: center;
    margin-left: 40px;
    bottom: 40px;
    width: 250px;
}
    
.social{
    height: 50px;
    width: 50px;
    margin: 0 10px 0 10px;
}
a:link,a:visited{
    text-decoration: none;
    background-color:none;
    display: inline-block;
    text-align: center;
    margin-bottom: 2px;
    color:blue;

}
a:hover,a:active{
    border: 2px solid rgb(250, 149, 149);
    color: purple;
}


/*.second-block-names{
    position: relative;
    text-align: center;
    width: 250px;
}*/



/*  ***************SOCIAL MEDIA ENDS HERE******************   */



/* ***************TAGLINE STARS HERE*************************/


#tagline{
    background-color: gray;
    opacity: .4;
    height: 40px;
}
#heading {
    position: relative;
    text-align: left;
    margin-left: 40px;
    font-size: 1.5rem;
    font-weight: bold; 
    top:-33px;
}

/* ***************TAGLINE ENDS HERE*************************/



/* ***************TABLE QALIFICATION STARTS HERE*************************/
.timeline-space{
    height: 900px;

}
.timeline{
    position: absolute;
    background-color: azure;
    height: 710px;
    font-size: 1.5rem;
    width: 6px;
    border-radius: 5px;
    margin-left: 42%;
  }
  
  .circle{
    position: relative;
    width:25px;
    height: 25px;
    top: 15px;
    right: 10px ;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #ff9f55;
    background-color: white;
  }
  
  .content{
    text-align: center;
    position: relative;
    left: 30px;
    font-size: 1.5rem;
    padding: 5px;
    background-color: #fdfdfd;
    border-style: groove;
    border-radius: 5px;
    width: 400px;
    height: auto;
  
  
  }
  .content-right{
    text-align: center;
    position: relative;
    right: 410px;
    font-size: 1.5rem;
    background-color: #fdfdfd;
    border-style: groove;
    padding: 5px;
    border-radius: 5px;
    width: 400px;
    height: auto;
  
  
  }
  .date strong {
    color: black;
    background-color: yellow;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    border-style: groove;
    position: absolute;
    right: 45px;
  }
  
  .date-right strong
  {
      background-color: yellow;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    border-style:groove ;
    color: black;
    position: absolute;
    left: 45px;
  }
  strong{
      color: blue;
  
}

/* ***************TABLE QUALIFICATION ENDS HERE*************************/



/* ***************declaration ********************* */

.sign{
    position: relative;
    float: right;
}


i{
    color: rgb(26, 248, 163);

}


/*  ***************MEDIA QRERY STARTS HERE******************   */

@media(min-width:320px) and (max-width:480px)
{
body {
    margin: 0 ;
    text-align: center;
    display: block;
}
h1{
    display: block;
    width: 100%;
    background-color: antiquewhite;
    font-size: 3rem;
    color: blue;
    text-decoration: underline;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: blue;
}
/* *************FIRST BLOCK MOBILE****************** */
.picture{
    margin: 0;
    position: relative;
    top: 10px;
    float: none;
    right:0;
    text-align: center;
    height: 200px;
    width: 150px;
    padding: 2px;
    border:2px solid black;
}
.name{
    margin: 0;
    display: block;
    text-align: center;
     }

.name-title{
        margin-top: 20px;
        margin-left: 0;

     }

 span{
        font-weight: bold; 
        margin: 0;
        
    }

 .first-block{
        height: 400px;
        background-color: rgb(241, 241, 247);
        
    }
 /* *************FIRST BLOCK MOBILE****************** */



/* *************SECOND BLOCK MOBILE****************** */
.second-block{
    top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    bottom: 0px;
    display: block;
    width: 250px;
    
}
    

.social{
    height: 50px;
    width: 50px;
    margin: 0 0 5px 0;
}


.second-block a:link,a:visited{
    text-decoration: none;
    background-color:rgb(97, 205, 255);
    border: 2px solid black;
    padding: 5px;
    width: 300px;
    display: block;
    text-align: center;
    margin: 0 0 2px 0;
    color:rgb(223, 247, 89);

}
a:hover,a:active{
    border: 2px solid rgb(250, 149, 149);
    color: purple;
}

/* ************SECOND BLOCK MOBILE****************** */

#tagline{
    background-color: gray;
    opacity: .4;
    height: 40px;
}
#heading {
    position: relative;
    text-align: center;
    margin-left: 0px;
    font-size: 1.5rem;
    font-weight: bold; 
    top:-33px;
}




.timeline a:link,a:visited{

    text-decoration:underline;
    display: block;
    text-align: center;
    color:rgb(2, 0, 7);

}

.timeline-space{
    height: 1060px;

}
.timeline{
    position: absolute;
    background-color: azure;
    height: 1010px;
    font-size: 1.5rem;
    width: 6px;
    border-radius: 5px;
    margin-left: 15px;
  }
  
  .circle{
    position: relative;
    width:25px;
    height: 25px;
    top: 25px;
    right: 10px ;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #ff9f55;
    background-color: white;
  }
  
  .content{
    text-align: center;
    position: relative;
    left: 30px;
    font-size: 1.5rem;
    padding: 5px;
    background-color: #fdfdfd;
    border-style: groove;
    border-radius: 5px;
    width: 280px;
    height: auto;
  
  
  }
  .content-right{
    text-align: center;
    position: relative;
    left: 30px;
    font-size: 1.5rem;
    background-color: #fdfdfd;
    border-style: groove;
    padding: 5px;
    border-radius: 5px;
    width: 280px;
    height: auto;
  
  
  }
  .date strong {
    color: black;
    background-color: yellow;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    top: -45px;
    border-style: groove;
    position: absolute;
    left: 90px;
  }
  
  .date-right strong
  {
    background-color: yellow;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    border-style:groove ;
    color: black;
    top: -45px;
    position: absolute;
    left: 90px;
  }
  strong{
      color: blue;
  
}

.sentence1{
  margin-left:-10px; 
  text-align: center;
  
}
/*  ***************MEDIA QRY STRATS HERE******************   */


}




@media(min-width:481px) and (max-width:768px)
{
    .timeline-space{
        height: 1060px;
    
    }
    .timeline{
        position: absolute;
        background-color: azure;
        height: 890px;
        font-size: 1.5rem;
        width: 6px;
        border-radius: 5px;
        margin-left: 35%;
      }
      
      .circle{
        position: relative;
        width:25px;
        height: 25px;
        top: 15px;
        right: 10px ;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid #ff9f55;
        background-color: white;
      }
      
      .content{
        text-align: center;
        position: relative;
        left: 30px;
        font-size: 1.5rem;
        padding: 5px;
        background-color: #fdfdfd;
        border-style: groove;
        border-radius: 5px;
        width: 250px;
        height: auto;
      
      
      }
      .content-right{
        text-align: center;
        position: relative;
        right: 260px;
        font-size: 1.5rem;
        background-color: #fdfdfd;
        border-style: groove;
        padding: 5px;
        border-radius: 5px;
        width: 250px;
        height: auto;
      
      
      }
      .date strong {
        color: black;
        background-color: yellow;
        width: 150px;
        text-align: center;
        border-radius: 5px;
        border-style: groove;
        position: absolute;
        right: 45px;
      }
      
      .date-right strong
      {
          background-color: yellow;
        width: 150px;
        text-align: center;
        border-radius: 5px;
        border-style:groove ;
        color: black;
        position: absolute;
        left: 45px;
      }
      strong{
          color: blue;
      
    }
    .sentence1{
      margin-left:-10px; 
      text-align: center;
      
    }

}



@media(min-width:1024px) and (max-width:1200px)
{
    .timeline-space{
        height: 930px;
    
    }
    .timeline{
        position: absolute;
        background-color: azure;
        height: 890px;
        font-size: 1.5rem;
        width: 6px;
        border-radius: 5px;
        margin-left: 39%;
      }
      
      .circle{
        position: relative;
        width:25px;
        height: 25px;
        top: 15px;
        right: 10px ;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid #ff9f55;
        background-color: white;
      }
      
      .content{
        text-align: center;
        position: relative;
        left: 30px;
        font-size: 1.5rem;
        padding: 5px;
        background-color: #fdfdfd;
        border-style: groove;
        border-radius: 5px;
        width: 350px;
        height: auto;
      
      
      }
      .content-right{
        text-align: center;
        position: relative;
        right: 360px;
        font-size: 1.5rem;
        background-color: #fdfdfd;
        border-style: groove;
        padding: 5px;
        border-radius: 5px;
        width: 350px;
        height: auto;
      
      
      }
      .date strong {
        color: black;
        background-color: yellow;
        width: 150px;
        text-align: center;
        border-radius: 5px;
        border-style: groove;
        position: absolute;
        right: 45px;
      }
      
      .date-right strong
      {
          background-color: yellow;
        width: 150px;
        text-align: center;
        border-radius: 5px;
        border-style:groove ;
        color: black;
        position: absolute;
        left: 45px;
      }
      strong{
          color: blue;
      
    }
    .sentence1{
      margin-left:-10px; 
      text-align: center;
      
    }
}

@media(min-width:1201px)
{
    .timeline-space{
        height: 930px;
    
    }
    .timeline{
        position: absolute;
        background-color: azure;
        height: 890px;
        font-size: 1.5rem;
        width: 6px;
        border-radius: 5px;
        margin-left: 42%;
      }
      
      .circle{
        position: relative;
        width:25px;
        height: 25px;
        top: 15px;
        right: 10px ;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid #ff9f55;
        background-color: white;
      }
      
      .content{
        text-align: center;
        position: relative;
        left: 30px;
        font-size: 1.5rem;
        padding: 5px;
        background-color: #fdfdfd;
        border-style: groove;
        border-radius: 5px;
        width: 450px;
        height: auto;
      
      
      }
      .content-right{
        text-align: center;
        position: relative;
        right: 460px;
        font-size: 1.5rem;
        background-color: #fdfdfd;
        border-style: groove;
        padding: 5px;
        border-radius: 5px;
        width: 450px;
        height: auto;
      
      
      }
      .date strong {
        color: black;
        background-color: yellow;
        width: 150px;
        text-align: center;
        border-radius: 5px;
        border-style: groove;
        position: absolute;
        right: 45px;
      }
      
      .date-right strong
      {
          background-color: yellow;
        width: 150px;
        text-align: center;
        border-radius: 5px;
        border-style:groove ;
        color: black;
        position: absolute;
        left: 45px;
      }
      strong{
          color: blue;
      
    }
}